.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

.techstack {
  font-size: 20px;
  color: white;
  margin-top: 30px;
}

.tech-icons .techstack {
  display: none;
}

.tech-icons:hover .techstack {
  display: block;
}

.tech-icons:hover svg {
  display: none;
}

.stars {
  color: gold;
  position: relative;
}

.card-content:hover .project-title {
  text-decoration: underline;
}

.card-buttons {
  position: relative;
  bottom: 10px; /* Adjust as needed */
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}
